@import "tailwindcss";

@theme {
  --animate-marquee: marquee 40s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

body {
  background-color: #09090b; /* zinc-950 */
  background-image: linear-gradient(to right, #1e293b80 1px, transparent 1px),
    linear-gradient(to bottom, #1e293b80 1px, transparent 1px);
  background-size: 4rem 4rem;
  background-position: center center;
}
